@font-face {
    font-family: VCR;
    font-size: 1vw;
    src: url("../fonts/better-vcr-5.4.ttf") format("truetype");}

.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 300;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }
  


